body{
    background-image: url("imagemdefundo.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}
.h2{
    color: #ffffff;
}
.col-md-6{
    color: #ffffff;
    align-items: center;
    margin: auto;
}
.col-md-4{
    color: #ffffff;
    align-items: center;
    margin: auto;
}
.form-check{
    color: #ffffff;
    align-items: center;
    margin: auto;
}
.label{
    color: #ffffff;
    align-items: center;
    margin: auto;
}

.thead{
    color: white;
}