<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Página de Login</title>
    <link rel="stylesheet" href="css/css-login.css">
    <script src="js/js-login.js"></script>
</head>
<body>
<div class="login">
    <h1>Página de Login</h1>
    <form>
        <input type="email" id="username" placeholder="Email">
        <input type="password" id="password" placeholder="Senha">
        <button type="button" onclick="validacaoLogin()">Entrar</button>
    </form>
    <p id="mensagem"></p>
</div>

</body>
</html>

