<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>BROWSNEAKAERS</title>
  <link rel="stylesheet" href="/css/css-principal.css">
  <script src="https://kit.fontawesome.com/92d70a2fd8.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="img/6.jpg">
</head>
<body>
<div class="header">
  <p class="logo">BROWSNEAKAERS</p>
  <p class="logo"></p>
  <div class="cart"><i class="fa-solid fa-cart-shopping"></i><p id="count">0</p></div>
</div>
<div class="container">
  <div id="root"></div>
  <div class="sidebar">
    <div class="head"><p>Carrinho</p></div>
    <div id="cartItem">Seu carrinho esta vazio</div>
    <div class="foot">
      <h3>Total</h3>
      <h2 id="total">R$ 0.00</h2>
    </div>
  </div>
</div>
<script src="/js/js-pagprincipal.js"></script>
</body>
</html>